<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhishGuard</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/about.css')}}">
</head>
<body>
    <div class="nav">
        <div class="logo">
        </div>
        <div class="menu">
            <a href="/" style="margin-left:60px;">Home</a>
            <a href="/validate">Validate Url</a>
            <a href="/developers">Developers</a>
        </div>
       
    </div>
    <div class="page1">
        <div class="card-collection">
            <div class="card1" id="pf1">
                <div class="profile">
                    <div class="profile-img">
                        <img src="{{url_for('static',filename='images/mig.jpeg')}}" alt="" srcset="">
                    </div>
                </div>
                <div class="name">
                    <h3>Michael Gomes</h3>
                </div>
    
                <div class="stream">
                    <h3>BCA , Final Year</h3>
                </div>
            </div>
    
            <div class="card1">
                <div class="profile">
                    <div class="profile-img">
                        <img src="{{url_for('static',filename='images/abhi.jpeg')}}" alt="" srcset="">
                    </div>
                </div>
                <div class="name">
                    <h3>Abhiraj Sardar</h3>
                </div>
    
                <div class="stream">
                    <h3>BCA , Final Year</h3>
                </div>
            </div>
    
            <div class="card1">
                <div class="profile">
                    <div class="profile-img">
                        <img src="{{url_for('static',filename='images/pak.jpeg')}}" alt="" srcset="">
                    </div>
                </div>
                <div class="name">
                    <h3>Rupak Sarkar</h3>
                </div>
    
                <div class="stream">
                    <h3>BCA , Final Year</h3>
                </div>
            </div>
            
            <div class="card1">
                <div class="profile">
                    <div class="profile-img">
                        <img src="{{url_for('static',filename='images/sneha.jpeg')}}" alt="" srcset="" >
                    </div>
                </div>
                <div class="name">
                    <h3>Snehasish Bhattacharjee</h3>
                </div>
    
                <div class="stream">
                    <h3>BCA , Final Year</h3>
                </div>
            </div>
            <div class="card1">
                <div class="profile">
                    <div class="profile-img">
                        <img src="{{url_for('static',filename='images/nawaz.jpeg')}}" alt="" srcset="">
                    </div>
                </div>
                <div class="name">
                    <h3>Kh Sahed Nawaz</h3>
                </div>
    
                <div class="stream">
                    <h3>BCA , Final Year</h3>
                </div>
            </div>
        </div>
        

    </div>

    
</body>
</html>